In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
data = pd.read_excel('card transactions.xlsx')

In [3]:
#Merchnum missing, Merch state, Merch zip
data.count()

Recnum               96753
Cardnum              96753
Date                 96753
Merchnum             93378
Merch description    96753
Merch state          95558
Merch zip            92097
Transtype            96753
Amount               96753
Fraud                96753
dtype: int64

In [4]:
data.describe()

             Recnum       Cardnum     Merch zip        Amount         Fraud
count  96753.000000  9.675300e+04  92097.000000  9.675300e+04  96753.000000
mean   48377.000000  5.142202e+09  44706.596740  4.278857e+02      0.010945
std    27930.329635  5.567084e+04  28369.537945  1.000614e+04      0.104047
min        1.000000  5.142110e+09      1.000000  1.000000e-02      0.000000
25%    24189.000000  5.142152e+09  20855.000000  3.348000e+01      0.000000
50%    48377.000000  5.142196e+09  38118.000000  1.379800e+02      0.000000
75%    72565.000000  5.142246e+09  63103.000000  4.282000e+02      0.000000
max    96753.000000  5.142847e+09  99999.000000  3.102046e+06      1.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96753 entries, 0 to 96752
Data columns (total 10 columns):
Recnum               96753 non-null int64
Cardnum              96753 non-null int64
Date                 96753 non-null datetime64[ns]
Merchnum             93378 non-null object
Merch description    96753 non-null object
Merch state          95558 non-null object
Merch zip            92097 non-null float64
Transtype            96753 non-null object
Amount               96753 non-null float64
Fraud                96753 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 7.4+ MB

# Keep only transtype = 'P' and remove outlier

In [6]:
data = data[data.Transtype == 'P']

In [7]:
data.shape

(96398, 10)

In [8]:
data['Amount'].max()

3102045.53

In [9]:
data['Amount'].sort_values(ascending = False).head(10)

52714    3102045.53
47339      47900.00
59516      30372.46
80886      28392.84
89673      27218.00
1103       26910.00
89408      25805.35
69666      25000.00
10173      24990.00
46937      24946.90
Name: Amount, dtype: float64

In [10]:
data[data['Amount'] == 3102045.53]['Recnum']

52714    52715
Name: Recnum, dtype: int64

In [11]:
data = data[data.Recnum != 52715]

In [12]:
data.shape

(96397, 10)

# Fill in State

In [13]:
#group by zip
state_fil = data.groupby('Merch zip')['Merch state'].apply(lambda x:x.mode()).reset_index()

In [14]:
# check how many states are the same merch zip
state_fil['level_1'].sort_values(ascending=False)

3157    1
6       1
2243    1
2080    1
4069    1
407     1
1973    1
631     1
293     1
1849    1
2       1
1517    0
1514    0
1515    0
1496    0
1516    0
1498    0
1499    0
1519    0
1520    0
1521    0
1522    0
1523    0
1524    0
1518    0
1513    0
1512    0
1511    0
1510    0
1526    0
       ..
3041    0
3042    0
3043    0
3044    0
3046    0
3021    0
3047    0
3048    0
3049    0
3050    0
3051    0
3052    0
3038    0
3037    0
3036    0
3035    0
3034    0
3033    0
3032    0
3031    0
3030    0
3029    0
3028    0
3027    0
3026    0
3025    0
3024    0
3023    0
3022    0
0       0
Name: level_1, Length: 4549, dtype: int64

In [15]:
state_fil

      Merch zip  level_1 Merch state
0           1.0        0          PA
1           2.0        0          MD
2           2.0        1          VA
3           3.0        0          GA
4           5.0        0          IA
5           6.0        0          IL
6           6.0        1          VA
7           7.0        0          VA
8           8.0        0          CO
9           9.0        0          CA
10         12.0        0          AK
11        478.0        0          IL
12       1001.0        0          MA
13       1002.0        0          MA
14       1003.0        0          MA
15       1020.0        0          MA
16       1021.0        0          MA
17       1028.0        0          MA
18       1035.0        0          MA
19       1041.0        0          MA
20       1057.0        0          MA
21       1060.0        0          MA
22       1089.0        0          MA
23       1104.0        0          MA
24       1201.0        0          MA
25       1226.0        0          MA
26       1240.0        0          MA
27       1247.0        0          MA
28       1301.0        0          MA
29       1373.0        0          MA
...         ...      ...         ...
4519    99352.0        0          WA
4520    99501.0        0          AK
4521    99502.0        0          AK
4522    99503.0        0          AK
4523    99504.0        0          AK
4524    99506.0        0          AK
4525    99508.0        0          AK
4526    99509.0        0          AK
4527    99513.0        0          AK
4528    99514.0        0          AK
4529    99515.0        0          AK
4530    99517.0        0          AK
4531    99518.0        0          AK
4532    99524.0        0          AK
4533    99587.0        0          AK
4534    99603.0        0          AK
4535    99611.0        0          AK
4536    99645.0        0          AK
4537    99669.0        0          AK
4538    99683.0        0          AK
4539    99701.0        0          AK
4540    99709.0        0          AK
4541    99723.0        0          AK
4542    99729.0        0          AK
4543    99734.0        0          AK
4544    99755.0        0          AK
4545    99801.0        0          AK
4546    99835.0        0          AK
4547    99901.0        0          AK
4548    99999.0        0          CA

[4549 rows x 3 columns]

In [16]:
# take the mode state in, keep first 2 columns
state_fil = state_fil[state_fil.level_1 == 0].iloc[:, [0,2]]

state_fil.columns = ['Merch zip', 'state_ref']

data = data.merge(state_fil, on = 'Merch zip', how = 'left')

In [17]:
# fill states by zip, if no zip then 'TN' 
data['Merch state'] = data['Merch state'].fillna(data['state_ref']).fillna('TN')

In [18]:
data.count() # filled all merch state

Recnum               96397
Cardnum              96397
Date                 96397
Merchnum             93199
Merch description    96397
Merch state          96397
Merch zip            92097
Transtype            96397
Amount               96397
Fraud                96397
state_ref            92030
dtype: int64

# Fill in Zip

In [19]:
zip_fil = data.groupby('Merchnum')['Merch zip'].apply(lambda x:x.mode()).reset_index()

In [20]:
# check how many zips share the same merchnum
zip_fil['level_1'].sort_values(ascending=False)

12856    2
9025     1
6125     1
9719     1
9761     1
8999     1
3034     1
3834     1
2174     1
3471     1
6685     1
5891     1
1108     1
7179     1
11563    1
10770    1
10773    1
11679    1
4433     1
10860    1
10824    1
7631     1
10506    1
12444    1
8035     1
12855    1
4284     0
4294     0
4293     0
4292     0
        ..
8535     0
8534     0
8533     0
8532     0
8553     0
8555     0
8578     0
8556     0
8577     0
8576     0
8575     0
8574     0
8573     0
8572     0
8571     0
8570     0
8569     0
8568     0
8567     0
8566     0
8565     0
8564     0
8563     0
8562     0
8561     0
8560     0
8559     0
8558     0
8557     0
0        0
Name: level_1, Length: 12859, dtype: int64

In [21]:
zip_fil = zip_fil[zip_fil.level_1 == 0].iloc[:, [0,2]]

In [22]:
zip_fil

            Merchnum  Merch zip
0                  0    48602.0
1      003100006NOT6    41011.0
2      004740006ABC6    82520.0
3      005590006PNB6    80439.0
4      014430619  14    90502.0
5      014938913  51    84116.0
6      014948837  52    92101.0
7      014988879  18    29401.0
8      016560006NOT0     7073.0
9      017670006NOT0    21236.0
10     018252152  57    68124.0
11     018990006NOT0    97333.0
12     020130006EDU0    30601.0
13     025950005PSS6    27604.0
14     028450006NOT0    20006.0
15     028600006NOT0    48197.0
16     032630006NOT0    27609.0
17     035390089PSS0    27529.0
18     035390089PSS6    27529.0
19     039320006APC0    21205.0
20     039320006APC6    21205.0
21     044140006ALB0    70810.0
22     044140006ALB6    70810.0
23     047010006ABC0    32507.0
24     047070006NOT6    17033.0
25     05-0500900356    30188.0
26     05-0506005800    72201.0
27     05-0506006216    32505.0
28     05-0508900712    89102.0
29     05-0509000800    44503.0
...              ...        ...
12827  9983080001293     2842.0
12828  9983080069336     2886.0
12829  9983085609862     2879.0
12830  9983700007291     7081.0
12831   998674690331    32117.0
12832   998674696334    32117.0
12833   998908029338     6906.0
12834   998908214334    33065.0
12835   999095660330    32922.0
12836  9995659070006    89119.0
12837  9996060597900    92801.0
12838   999676260337    33431.0
12839   999907013332    33983.0
12840   999908343335    33009.0
12841   999908388333    32708.0
12842   999960264339    33431.0
12843   999960748338    33431.0
12844   999961019339    32811.0
12845   999961463334    33314.0
12846   999962530330    34698.0
12847   999962651330    34698.0
12848   999963025330    33706.0
12849   999966191333    33311.0
12850   999966679334    32534.0
12851   999967741333    33309.0
12852   999968888330    32218.0
12853  DU49038320006    19547.0
12854    JCPENNE9 CO    19454.0
12857  PENNE9 CO #05    43623.0
12858  PENNE9 CO #68    40422.0

[12833 rows x 2 columns]

In [23]:
zip_fil.columns = ['Merchnum','zip_ref']

In [24]:
zip_fil.head()

        Merchnum  zip_ref
0              0  48602.0
1  003100006NOT6  41011.0
2  004740006ABC6  82520.0
3  005590006PNB6  80439.0
4  014430619  14  90502.0

In [25]:
data = data.merge(zip_fil, on = 'Merchnum', how = 'left')

In [26]:
zip_fil2 = data.groupby('Merch description')['Merch zip'].apply(lambda x:x.mode()).reset_index()

zip_fil2 = zip_fil2[zip_fil2.level_1 == 0].iloc[:, [0,2]]

zip_fil2.columns = ['Merch description','zip_ref2']

data = data.merge(zip_fil2, on = 'Merch description', how = 'left')

In [27]:
zip_fil3 = data.groupby('Merch state')['Merch zip'].apply(lambda x:x.mode()).reset_index()

zip_fil3 = zip_fil3[zip_fil3.level_1 == 0].iloc[:, [0,2]]

zip_fil3.columns = ['Merch state','zip_ref3']

data = data.merge(zip_fil3, on = 'Merch state', how = 'left')

In [28]:
data['Merch zip'].mode()

0    38118.0
dtype: float64

In [29]:
data['Merch zip'] = data['Merch zip'].fillna(data['zip_ref']).fillna(data['zip_ref2']).fillna(data['zip_ref3']).fillna(38118)

In [30]:
data["Merch zip"].isnull().sum()

0

# Fill in Merchnum

In [31]:
mernum_fil = data.groupby('Merch description')['Merchnum'].apply(lambda x:x.mode()).reset_index()

mernum_fil = mernum_fil[mernum_fil.level_1 == 0].iloc[:, [0,2]]

mernum_fil.columns = ['Merch description','num_ref']

data = data.merge(mernum_fil, on = 'Merch description', how = 'left')

In [32]:
mernum_fil2 = data.groupby('Merch zip')['Merchnum'].apply(lambda x:x.mode()).reset_index()

mernum_fil2 = mernum_fil2[mernum_fil2.level_1 == 0].iloc[:, [0,2]]

mernum_fil2.columns = ['Merch zip','num_ref2']

data = data.merge(mernum_fil2, on = 'Merch zip', how = 'left')

In [33]:
mernum_fil3 = data.groupby('Merch state')['Merchnum'].apply(lambda x:x.mode()).reset_index()

mernum_fil3 = mernum_fil3[mernum_fil3.level_1 == 0].iloc[:, [0,2]]

mernum_fil3.columns = ['Merch state','num_ref3']

data = data.merge(mernum_fil3, on = 'Merch state', how = 'left')

data['Merchnum'] = data['Merchnum'].fillna(data['num_ref']).fillna(data['num_ref2']).fillna(data['num_ref3'])

In [34]:
data["Merchnum"].isnull().sum()

0

# Finalize

In [35]:
data.head()

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud,state_ref,zip_ref,zip_ref2,zip_ref3,num_ref,num_ref2,num_ref3
0,1,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0,TN,38118.0,38118.0,38118.0,5509006296254,930090121224,930090121224
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0,MA,1803.0,1803.0,1730.0,61003026333,984906437339,988616006339
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0,MD,20706.0,20706.0,20763.0,4503082993600,4503082993600,4503082476300
3,4,5142148452,2010-01-01,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0,TN,38118.0,38118.0,38118.0,5509006296254,930090121224,930090121224
4,5,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0,TN,38118.0,38118.0,38118.0,5509006296254,930090121224,930090121224

In [36]:
#drop unnecessary columns
dropcol = ["state_ref",'zip_ref','zip_ref2', 'num_ref', 'num_ref2', 'num_ref3']
data.drop(dropcol,axis=1,inplace=True)

In [37]:
data.head()

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud,zip_ref3
0,1,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0,38118.0
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0,1730.0
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0,20763.0
3,4,5142148452,2010-01-01,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0,38118.0
4,5,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0,38118.0

In [38]:
data.count()

Recnum               96397
Cardnum              96397
Date                 96397
Merchnum             96397
Merch description    96397
Merch state          96397
Merch zip            96397
Transtype            96397
Amount               96397
Fraud                96397
zip_ref3             96205
dtype: int64

In [39]:
data.to_csv("Filled_In_Missing_Value.csv")